@import '@fontsource-variable/inter';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	html {
		@apply focus:outline-none focus-visible:outline focus-visible:outline-offset-2 focus-visible:outline-2 focus-visible:outline-white;
	}
}

@layer components {
	.color-swatch {
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
		@apply w-full h-11 border-none bg-transparent cursor-pointer;
	}
	.color-swatch::-webkit-color-swatch {
		@apply border-none rounded-lg;
	}
	.color-swatch::-moz-color-swatch {
		@apply border-none rounded-lg;
	}
}

@layer utilities {
	.text-focus {
		@apply text-zinc-200;
	}
	.text-default {
		@apply text-zinc-400;
	}
	.mst {
		@apply motion-safe:transition motion-safe:duration-150 motion-safe:ease-in-out;
	}
}
